@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}

$mainBg: hsl(216, 12%, 8%);
$containerBg: linear-gradient(hsl(213, 19%, 18%), rgb(23, 30, 40));
$primary: hsl(25, 97%, 53%);
$textColor: hsl(217, 12%, 63%);
$ratingBgHover: hsl(217, 12%, 63%);
$white: hsl(0, 0%, 100%);
$whiteTrnsp: hsl(0, 0%, 100%, 0.05);

body {
  min-height: 100vh;
  background: $mainBg;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
}

.container {
  width: 412px;
  border-radius: 2rem;
  background: $containerBg;
  color: $white;
  position: relative;
  overflow: hidden;

  .rating {
    padding: 2rem;
    display: none;

    &.active {
      display: block;
    }

    .img-container {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background: $whiteTrnsp;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .rating__header {
      margin: 2.05rem 0 0;
      font-size: 1.735rem;
    }

    form {
      display: block;
      margin: 0.7rem 0 1.95rem;

      fieldset {
        border: none;

        .rating__para {
          font-size: 0.938rem;
          color: $textColor;
          line-height: 1.6;
        }

        .ratings__container {
          margin-top: 1.55rem;
          display: flex;
          gap: 1.25rem;

          .btn--rating__container {
            width: 52px;
            height: 52px;
            border-radius: 50%;
            position: relative;

            &:hover {
              background: $ratingBgHover;

              .btn--rating__value {
                color: $white;
              }
            }

            .btn--rating {
              width: 100%;
              height: 100%;
              opacity: 0;
              position: absolute;
              top: 0;
              left: 0;
              cursor: pointer;

              &:checked + .btn--rating__value {
                background: $primary;
                color: $white;
              }
            }

            .btn--rating__value {
              width: 100%;
              height: 100%;
              border-radius: 50%;
              background: $whiteTrnsp;
              $radioTextColor: hsl(216, 12%, 54%);
              color: $radioTextColor;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }

    .btn--submit {
      width: 100%;
      padding: 0.8rem 0;
      border-radius: 2rem;
      background: $primary;
      color: $white;
      font-size: 1rem;
      letter-spacing: 1.6px;
      text-transform: uppercase;

      &:hover {
        background: $white;
        color: $primary;
      }
    }
  }

  .thank-you {
    padding: 2.85rem 2.1rem;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    position: absolute;
    top: 0;
    left: 5rem;
    transition: 0.5s ease;

    &.active {
      opacity: 1;
      visibility: visible;
      position: relative;
      left: 0;
    }

    img {
      display: block;
      margin: 0 auto 2rem;
    }

    .your-rating {
      max-width: 190px;
      margin: 0 auto 2.05rem;
      padding: 0.425rem 0;
      border-radius: 2rem;
      background: $whiteTrnsp;
      font-size: 0.95rem;
      color: $primary;
    }

    .thank-you__header {
      margin-bottom: 0.65rem;
      font-size: 1.725rem;
    }

    .thank-you__message {
      font-size: 0.95rem;
      color: $textColor;
      line-height: 1.6;
    }
  }
}

@media (max-width: 375px) {
  .container {
    width: 326px;
    border-radius: 1rem;

    .rating {
      padding: 1.45rem;

      .img-container {
        width: 40px;
        height: 40px;
      }

      .rating__header {
        font-size: 1.485rem;
        margin: 1.25rem 0 0.7rem;
      }

      form {
        margin-bottom: 1.5rem;

        fieldset {
          .rating__para {
            font-size: 0.885rem;
          }

          .ratings__container {
            gap: 1.1rem;

            .btn--rating__container {
              width: 42px;
              height: 42px;

              .btn--rating__value {
                font-size: 0.9rem;
              }
            }
          }
        }
      }
    }

    .thank-you {
      padding: 2.2rem 1rem;

      img {
        width: 140px;
        margin-bottom: 1.6rem;
      }

      .your-rating {
        width: 170px;
        margin-bottom: 1.75rem;
        font-size: 0.875rem;
      }

      .thank-you__header {
        font-size: 1.5rem;
      }

      .thank-you__message {
        font-size: 0.9rem;
      }
    }
  }
}
